.bubbles {
  position: absolute;
  inset: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1.2s ease;
  z-index: 1;
}

.bubbles:not(.hidden) {
  opacity: 1;
}

.bubble {
  position: absolute;
  z-index: 0;
  border-radius: 50%;
}

.bubble:nth-child(1) {
  top: 8%;
  left: 60%;
  .heart {
    fill: transparent;
    opacity: 0;
  }
  .bubble:nth-child(1) .heart {
    animation: love 3s forwards infinite 0s;
    transform: scale(0.5) rotate(-4deg);
  }
  .bubble:nth-child(2) .heart {
    animation: love 3s forwards infinite 0.15s;
    transform: scale(0.5) rotate(22deg);
  }
  .bubble:nth-child(3) .heart {
    animation: love 3s forwards infinite 0.3s;
    transform: scale(0.5) rotate(-5deg);
  }
  .bubble:nth-child(4) .heart {
    animation: love 3s forwards infinite 0.45s;
    transform: scale(0.5) rotate(50deg);
  }
  .bubble:nth-child(5) .heart {
    animation: love 3s forwards infinite 0.6s;
    transform: scale(0.5) rotate(-29deg);
  }
  .bubble:nth-child(6) .heart {
    animation: love 3s forwards infinite 0.75s;
    transform: scale(0.5) rotate(35deg);
  }
  .bubble:nth-child(7) .heart {
    animation: love 3s forwards infinite 0.9s;
    transform: scale(0.5) rotate(-5deg);
  }
  .bubble:nth-child(8) .heart {
    animation: love 3s forwards infinite 1.05s;
    transform: scale(0.5) rotate(40deg);
  }
  .bubble:nth-child(9) .heart {
    animation: love 3s forwards infinite 1.2s;
    transform: scale(0.5) rotate(-35deg);
  }
  .bubble:nth-child(10) .heart {
    animation: love 3s forwards infinite 1.35s;
    transform: scale(0.5) rotate(28deg);
  }
  height: 18vmin;
  width: 18vmin;
  animation: love-burst 3s infinite 0.6s;
  box-shadow: inset 0 0 0 9vmin transparent;
  transform: translate(0, 0.3em) scale(0);
  transform-origin: center bottom;
}

.bubble:nth-child(6) {
  top: 10%;
  left: 68%;
  height: 5vmin;
  width: 5vmin;
  animation: love-burst 3s infinite 0.75s;
  box-shadow: inset 0 0 0 2.5vmin transparent;
  transform: translate(0, 1.1em) scale(0);
  transform-origin: center bottom;
}

.bubble:nth-child(7) {
  top: 68%;
  left: 1%;
  height: 5vmin;
  width: 5vmin;
  animation: love-burst 3s infinite 0.9s;
  box-shadow: inset 0 0 0 2.5vmin transparent;
  transform: translate(0, 0.15em) scale(0);
  transform-origin: center bottom;
}

.bubble:nth-child(8) {
  top: 61%;
  left: 51%;
  height: 11vmin;
  width: 11vmin;
  animation: love-burst 3s infinite 1.05s;
  box-shadow: inset 0 0 0 5.5vmin transparent;
  transform: translate(0, 1.05em) scale(0);
  transform-origin: center bottom;
}

.bubble:nth-child(9) {
  top: 24%;
  left: 45%;
  height: 11vmin;
  width: 11vmin;
  animation: love-burst 3s infinite 1.2s;
  box-shadow: inset 0 0 0 5.5vmin transparent;
  transform: translate(0, 1em) scale(0);
  transform-origin: center bottom;
}

.bubble:nth-child(10) {
  top: 13%;
  left: 10%;
  height: 19vmin;
  width: 19vmin;
  animation: love-burst 3s infinite 1.35s;
  box-shadow: inset 0 0 0 9.5vmin transparent;
  transform: translate(0, 1em) scale(0);
  transform-origin: center bottom;
}

.star {
  fill: transparent;
  opacity: 0;
}

.bubble:nth-child(1) .star {
  animation: love 3s forwards infinite 0s;
  transform: scale(0.5) rotate(-4deg);
}

.bubble:nth-child(2) .star {
  animation: love 3s forwards infinite 0.15s;
  transform: scale(0.5) rotate(22deg);
}

.bubble:nth-child(3) .star {
  animation: love 3s forwards infinite 0.3s;
  transform: scale(0.5) rotate(-5deg);
}

.bubble:nth-child(4) .star {
  animation: love 3s forwards infinite 0.45s;
  transform: scale(0.5) rotate(50deg);
}

.bubble:nth-child(5) .star {
  animation: love 3s forwards infinite 0.6s;
  transform: scale(0.5) rotate(-29deg);
}

.bubble:nth-child(6) .star {
  animation: love 3s forwards infinite 0.75s;
  transform: scale(0.5) rotate(35deg);
}

.bubble:nth-child(7) .star {
  animation: love 3s forwards infinite 0.9s;
  transform: scale(0.5) rotate(-5deg);
}

.bubble:nth-child(8) .star {
  animation: love 3s forwards infinite 1.05s;
  transform: scale(0.5) rotate(40deg);
}

.bubble:nth-child(9) .star {
  animation: love 3s forwards infinite 1.2s;
  transform: scale(0.5) rotate(-35deg);
}

.bubble:nth-child(10) .star {
  animation: love 3s forwards infinite 1.35s;
  transform: scale(0.5) rotate(28deg);
}

@keyframes love-burst {
  50%, 100% {
    box-shadow: inset 0 0 0 0 rgb(221, 160, 221);
    transform: translate(0, 0) scale(1);
  }
}

@keyframes love {
  50% {
    fill: rgb(221, 160, 221);
    opacity: 1;
  }
}
